<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="jokes.css">
    <title>API website</title>

</head>
<body>
    <div class="contain">
        <div class="heading"><h1>Joke of the day!</h1>
        </div>
        <div class="main">
            <p><%= joke %></p><br>
        </div>
    </div>
    <footer class="footer">
        <p>© Designed by Satyaprakash</p>
    </footer>
</body>
</html>