*{
    margin: 0%;
    padding:0%;
    font-family: "Sofia", sans-serif;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 30vh;
    margin: 220px;
    background-color: grey;
    color: beige;
}
.heading{
    text-align: center;
    font-size:xx-large;
}
.main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    font-size:x-large;
    margin: 0 auto;
    margin-top: 4vh;
    width:60%;
    font-weight: 800;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1em; 
    background-color: #333; 
    color: white; 
}
